gradio
requests
markdownify
smolagents
requests
duckduckgo_search
pandas
langchain-community
wikipedia-api
arxiv
numpy
matplotlib
Pillow
pytesseract
python-docx
openpyxl
tabula-py
pdf2image
faiss-cpu
sentence-transformers
pymupdf 
fitz
beautifulsoup4
pdfplumber
langchain-text-splitters
transformers
torch
youtube-transcript-api
pytube